
   div.login{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9996;
    top: 0;
   }
   .has-feedback label~.form-control-feedback {
         /*top: 35px;*/
         }
         .login
   .has-feedback label~.form-control-feedback {
         top: 15px;
         }
         .btn-group-sm>.btn, .btn-sm {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
@media print {
    .DivPrint {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    .btnPrint{
      display: none;
    }
}
.page-content {
    background-color: rgba(255,255,255,0.92);
}
.page-header.navbar .top-menu .navbar-nav {
    margin-right: 10px;
}
.mt-actions .mt-action .mt-action-img>img {
    border-radius: 50%!important;
    margin-bottom: 2px;
    width: 100%;
}
.tbscrol{
  overflow: auto;
}
th, td { white-space: nowrap;  };
th:last-child,
td:last-child,
th:nth-last-child(1),
td:nth-last-child(3) {
    text-align: right !important;
    width: 4%;
}