<div class="portlet light bordered">
 
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-red-sunglo">
                        <i class="icon-settings font-red-sunglo"></i>
                        <span class="caption-subject bold uppercase"> Painel de configurações</span>
                    </div>                    
                </div>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-group">
                            <label>Link para compartilhamento</label>
                            <input type="url" class="form-control" placeholder="" name="link" id="link" required> 
                        </div>
                        <div class="form-group">
                            <label>Título para compartilhamento</label>
                            <input type="text" class="form-control" placeholder="" name="titulo" id="titulo" required> 
                        </div>
                        <div class="form-group">
                            <label>Descrição para compartilhamento</label>
                            <textarea type="text" class="form-control" placeholder="" name="desc" id="desc" required> </textarea>
                        </div>
                        <div class="form-group">
                            <label>Imagem para compartilhamento</label>
                            <input type="url" class="form-control" placeholder="" name="img" id="img" required> 
                        </div>
                        <div class="form-group">
                            <label>Tag de rastreamento</label>
                            <textarea type="text" class="form-control" placeholder="" name="tag" id="tag" required> </textarea>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue">Salvar</button>
                            <button type="button" class="btn default">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
