/*==================   Lazy Img    ======================*/

$lazy-bg: #b9c261;

.lazy-img {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  background: $lazy-bg url(../images/lazy-loader.gif) no-repeat center center;

  &, img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    @include transition(1s all ease);
    @include opacity(0);
  }

  .lazy-loaded {
    @include opacity(1);
  }
}