/*========================================================
                     FOOTER  Section
=========================================================*/
footer {
  padding: 30px 0;
  font-size: 16px;
  line-height: 28px;

  @media (max-width: 767px) {
    &, .right{
      text-align: center;
    }

    .row + .row,
    [class*="grid_"] + [class*="grid_"] {
      margin-top: 20px!important;
    }
  }

  .social-list{
    .fa{
      color: #5B5B5B;

      &:after{
        border-color: #5B5B5B;
      }
    }
  }

  .footer_email{
    padding-left: 28px;
    background: url("../images/icon-mail.png") no-repeat 0 0;

    &:hover{
      text-decoration: underline;
    }
  }

  .container [class^='grid_']{
    float: right;
  }
}

.copyright {
  a:hover{
    text-decoration: underline;
  }
}
