//==========================================================
//                      Variables
//==========================================================

//Fonts
$c: 'Cabin', sans-serif;
$q: 'Quicksand', sans-serif;

//Main palette
$header-bg: #fff;
$content-bg: #fff;
$footer-bg: #fff;

$body-bg: $footer-bg;
$body-fnt: 400 14px/22px 'Trebuchet MS', sans-serif;

$default: #686868;
$primary: #96c9c5;
$secondary: #3b475f;
$secondary2: #6ec1d7;
$secondary3: #81bd3c;
$secondary4: #4f6bac;
$secondary5: #7c8bd4;